body {
    background: #ece6e6;
}

#row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.button {
    font-size: 1rem;
    padding: .6rem 5.1rem .4rem;
    border: 1px solid;
    border-radius: 1rem;
    background: none;
    color: inherit;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
}