<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/ingresoTarea.css" th:href="@{/css/ingresoTarea.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <title>Document</title>

</head>

<body>

    <header>
        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <span th:if="${session.usuario !=null}" class="unico">BIENVENIDO/A <span id="usere" class="font-italic" th:text="${session.usuario.nombre}"></span></span>

                    </li>
                    <li>
                        <form th:action="@{/logout}" method="POST">
                            <button type="submit" class="hf">SALIR</button></form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <CENTER>
        <H1>GESTOR DE TAREA</H1>
    </CENTER>

    <div id="main-container1">

        <a th:href="@{'/new'}"><button type="submit " class="llb ">CREAR</button></a>
        <a th:href="@{'/histo'}"><button type="submit " class="llb ">Historial</button></a>
    </div>

    <div id="main-container ">

        <table>
            <thead>
                <tr>
                    <th>ID TAREA</th>
                    <th>NOMBRE TAREA</th>
                    <th>USUARIO</th>
                    <th>FECHA FIN</th>
                    <th>ESTADO</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="Tarea:${ListaTarea}" class="clase">
                    <td th:text="${Tarea.id}">ID </td>
                    <td th:text="${Tarea.nombre}">NOMBRE</td>
                    <td th:text="${Tarea.usuario}">USUARIO</td>
                    <td th:text="${Tarea.Fecha_Fin}">FECHA_FIN</td>
                    <td th:text="${Tarea.estado}" class="estado">ESTADO</td>
                    <td class="boton">
                        <a th:href="@{'/edit/' + ${Tarea.id}}">Edit</a>
                    </td>
                    <td>

                        <a th:href=" @{ '/delete/' + ${Tarea.id}} ">Delete</a>
                    </td>
                </tr>
            </tbody>>
        </table>
    </div>
</body>

</html>

<script>
    //$(".clase ").each(function() {
    //  console.log((this))
    //});
    var valores = "";

    // Obtenemos todos los valores contenidos en los <td> de la fila
    // seleccionada
    var estado = 0;

    $(".estado").parent("tr").find("td").each(function() {
        if ($(this).html() == "FINALIZADA") {
            estado = 1;
            $(this).css("backgroundColor", "rgb(203, 87, 87 ) ");
        } else if ($(this).html() == "PROCESO") {
            estado = 0;
            $(this).css("backgroundColor", "RGB(156, 245, 134 ) ");
        } else if ($(this).html() == "PAUSADO") {
            estado = 0;
            $(this).css("backgroundColor", "rgb(255, 253, 115 ) ");
        }
        if (estado == 1 && (this).className == "boton") {
            $(this).remove();

        }
    });
</script>