<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stile.css">
    <title>Document</title>
</head>

<body>
    <!-- Start Buttons -->
    <div class="container">
        <a href="#"><button class="active">Login</button></a>


        <div class="clearfix"></div>
        <!-- End Buttons -->
        <br><br><br><br><br>

        <p class="g">LOGIN</p>

        <!-- Start Inputs -->

        <lable>Usuario</lable>
        <input type="text" maxlength="10" placeholder="Ingrese su Usuario">

        <lable>Password</lable>
        <input type="password" paceholder="*********">


        <!-- Start last button -->
        <br>

        <a href="#"><button class="llb">Entrar</button></a>

    </div>
    <!-- End last button -->
</body>

</html>