<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/ingresoTarea.css" th:href="@{/css/ingresoTarea.css}">

    <title>Document</title>
</head>

<body>
    <header>
        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <span th:if="${session.usuario !=null}" class="unico">BIENVENIDO/A <span id="usere" class="font-italic" th:text="${session.usuario.nombre}"></span></span>

                    </li>
                    <li>
                        <form th:action="@{/logout}" method="POST">
                            <button type="submit" class="hf">SALIR</button></form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <CENTER>
        <H1>INGRESO DE TAREA</H1>
    </CENTER>

    <form action="#" th:action="@{/save}" th:object="${Tareas}" method="post">

        <div id="main-container1">
            <lable>ID: </lable>
            <input type="text" th:field="*{id}" maxlength="10" placeholder="INGRESE TAREA">
            <lable>NOMBRE TAREA: </lable>
            <input type="text" th:field="*{nombre}" maxlength="10" placeholder="INGRESE TAREA">
            <lable>USUARIO:</lable>
            <input type="text" th:field="*{usuario}" maxlength="10" placeholder="INGRESE USUARIO" readonly>
            <lable>ESTADO:</lable>
            <input type="text" th:field="*{estado}" maxlength="10" readonly id="est">
            <lable>FECHA FIN:</lable>
            <input type="date" th:field="*{Fecha_Fin}">
            <button type="submit " class="llb ">CREAR</button >
        </div>
    </form>


</body>

</html>


<script>
    window.onload = function() {
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth() + 1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if (dia < 10)
            dia = '0' + dia; //agrega cero si el menor de 10
        if (mes < 10)
            mes = '0' + mes //agrega cero si el menor de 10
        var date = new String(ano + '-' + mes + '-' + dia);
        document.getElementById('fechaActual').value = date;
        fechaActual.setAttribute('min', date);
    }
</script>

<script>
    var c;
    c = document.getElementById("usere").textContent;
    document.getElementById("usuref").value = c;
    document.getElementById("est").value = "PROCESO";
</script>