<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/stile.css" th:href="@{/css/stile.css}">

    <title>Document</title>
</head>

<body>
    <!-- Start Buttons -->
    <div class="container">
        <a href="#"><button class="active">Registro</button></a>


        <div class="clearfix"></div>
        <!-- End Buttons -->

        <br>
        <br><br>
        <!-- Start Inputs -->
        <form th:action="@{/auth/registro}" th:object="${usuario}" method="POST">

            <div class="form-group" id="nombre-group">
                <lable>Nombre</lable>
                <input type="text" maxlength="10" placeholder="Ingrese su Nombre" th:field="*{nombre}">
            </div>
            <div class="form-group" id="apellido-group">
                <lable>Apellido</lable>
                <input type="text" maxlength="10" placeholder="Ingrese su Apellido" th:field="*{apellido}">
            </div>
            <div class="form-group" id="username-group">
                <lable>Usuario</lable>
                <input type="text" maxlength="10" placeholder="Ingrese su Usuario" th:field="*{username}">
            </div>
            <div class="form-group" id="password-group">
                <lable>Password</lable>
                <input type="password" paceholder="*********" th:field="*{password}">
            </div>
            <div class="form-group" id="emil-group">
                <lable>E-MAIL</lable>
                <input type="email" placeholder="Ingrese su E-mail" th:field="*{email}">
            </div>
            <!-- Start last button -->
            <br>

            <a href="#"><button type="submit" class="llb">Guardar</button></a>
        </form>
    </div>
    <!-- End last button -->
</body>

</html>