<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stile.css">
    <title>Document</title>
</head>

<body>
    <!-- Start Buttons -->
    <div class="container">
        <a href="#"><button class="active">Registro</button></a>


        <div class="clearfix"></div>
        <!-- End Buttons -->

        <br>
        <br><br>
        <!-- Start Inputs -->

        <lable>Nombre</lable>
        <input type="text" maxlength="10" placeholder="Ingrese su Nombre">

        <lable>Apellido</lable>
        <input type="text" maxlength="10" placeholder="Ingrese su Apellido">

        <lable>Usuario</lable>
        <input type="text" maxlength="10" placeholder="Ingrese su Usuario">

        <lable>Password</lable>
        <input type="password" paceholder="*********">

        <lable>E-MAIL</lable>
        <input type="email" placeholder="Ingrese su E-mail">


        <!-- Start last button -->
        <br>

        <a href="#"><button class="llb">Guardar</button></a>

    </div>
    <!-- End last button -->
</body>

</html>